{{ cookiecutter.project_slug.upper() }}_IS_DEBUG=True
{{ cookiecutter.project_slug.upper() }}_SECRET_KEY=randomkey
{{ cookiecutter.project_slug.upper() }}_ALLOWED_HOSTS=commadelimited,host1,host2,host3
{{ cookiecutter.project_slug.upper() }}_DB_CONNECTION=sqlite:////app/db.sqlite
{{ cookiecutter.project_slug.upper() }}_LOG_LEVEL=INFO
